@{
    ViewBag.Title = "MARATHON SKILLS 2016";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/Style.css">
 
</head>
<body>
    
    <div sstyle="margin-top: 60px " class="mymain"><h1>Меню координатора</h1></div>
    <div class ="block">
        <table>           
            <tr>
                <td>
                    <button type="button" onclick="location.href='http://localhost:11088/Home/Page1';" class = "desB"> Бегуны</button>
                </td>
                <td>
                    <button type="button" onclick="location.href='http://localhost:11088/Home/Page2';" class=" desB" > Спонсоры</button>
                </td>
            </tr>
        </table>
    </div>
</body>



