
@{
    ViewBag.Title = "Просмотр спонсоров";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/Style.css">

</head>
<body>

    <div class="mymain"><h1>Просмотр спонсоров</h1>
    <div style = "top: 250px" class="block">
        <table>
            <tr>
                <td>
                    <h2>Отсортировать:</h2>
                </td>
                <td>
                    <select>
                        <option>Итоговая сумма</option>
                        <option>Наименование</option>                    
                    </select>
                </td>
                <td>
                    <button type="button" onclick="http://google.com" style=" width:150px" class="buttunstyle  "> Сортировка</button>
                </td>
            </tr>
        </table>
    </div>
    <div style = "margin-top: 300px">
        <h1>Благотворительные организации: - </h1>
        <h1>Всего пользовательских взносов: - </h1></div>
    </div>
</body>
